h1 {font-family: 3rem;
    background: linear-gradient(100deg, #7646e5, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h2 {
    font-family: 30px;
    color: #0a0c0b;
    position: relative;
}


p {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #222;
    margin-bottom: 10px;
}

 